.input-container {
  display: flex;
  align-items: center;
  .input-custom {
    width: 100%;
    height: 34px;
    caret-color: #63636F;
    color: #63636F;
    font-size: 12px;
    padding: 6px 18px;
    box-shadow: none;
    background: #F5F5F5;
    outline: none;
    &::placeholder {
      color: #BEBEBE;
      font-style: italic;
    }
    &:focus {
      background: #ffffff !important;
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }

  .input-primary {
    border-radius: 50px;
    border : 1px solid #E1E1E1;
    &:focus {
      border: 1px solid #02b6c4 !important;
    }
  }

  .input-secondary {
    background: #ffffff !important;
    border-radius: 0px;
    border: 0px;
    border-bottom : 1px solid #E1E1E1;
    &:focus {
      border-bottom: 1px solid #02b6c4 !important;
    }
  }

  .hasError-primary {
    border: 1px solid #d90000 !important;
  }

  .hasError-secondary {
    border-bottom: 1px solid #d90000 !important;
  }

  .input-password-checkbox {
    margin-top: 0px;
    position: relative;
    left: -25px;
  }

  .blue-dot {
    position: relative;
    &::before{
      font-family: FontAwesome;
      position: absolute;
      top: -3px;
      left: 10px;
      content: "\F111";
      font-size: 6px;
      color: #02bcd2;
      z-index: 2;
    }
  }
}