.flip-card {
  position: absolute;
  top: -82px;
  left: calc(50% - 132px);
  background-color: transparent;
  height: 165px;
  width: 264px;
  perspective: 1000px;
  font-family: "Courier New", "Courier New", monospace;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.isFlipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 20px grey;
  color: white;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,9,9,0.1);
  border-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg);
  padding: 15px 8px;
  align-items: end;
  text-align: right;
  font-size: 0.6rem;

  .swipe-strip {
    width: calc(100% + 16px);
    height: 30px;
    background: black;
    margin: 0 -8px 10px;
  }

  .sign-strip {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
    font-size: .8rem;
    width: 100%;
    height: 25px;
    margin: 2px 0 10px;
    background: white;
    border-radius: 2px;
    color: black;
  }

  img {
    max-width: 40%;
    max-height: 30px;
  }
}

.flip-card-front {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 15px;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    img {
      max-width: 40%;
      max-height: 30px;
    }
  }

  .card-number {
    width: 100%;
    height: 22px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    text-align: left;


    .label {
      font-size: 0.5rem;
    }
    .details {
      position: relative;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

.word-break-all {
  word-break: break-all;
}

.animate-card-holder {
  display: inline-block;
  position: relative;
  width: 0.5rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  animation: card-holder-animation 0.2s;
}



@keyframes card-holder-animation {
  from {
    opacity: 0;
    left: 2px;
    transform: rotate(90deg);
  }
  to {
    bottom: 0;
    left: 0;
    transform: rotate(0deg);
  }
}

.animate-expiry {
  position: relative;
  top: 0;
  opacity: 1;
  animation: expiry-animation 0.2s;
}

@keyframes expiry-animation {
  from { top: 10px; opacity: 0; }
  to { top: 0; opacity: 1; }
}